<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}BetterBoard{% endblock %}</title>   
    <link rel="stylesheet" href="{{ STATIC_URL }}main.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}HunterCollegeHighSchool/theme.css" type="text/css" />
    
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

    
    {% block head %}
    
    {% endblock head %}
</head>
<body>
    <div id="header">
        <div class="pagewidth"> 
            <h1 id="homelink"><a href="{% url BBCore.views.home %}">Hunter BetterBoard</a></h1>
            <div style="text-align: right">
                {{ user.username }}
                | <a href="">help</a>
                | <a href="mailto:hunterdevclub@gmail.com">feedback</a>
                | <a href="{% url django.contrib.auth.views.logout_then_login %}">log out</a>
            </div>
        </div>
    </div>
    <div class="message">
        {% block messsage %}
        {% endblock %}
    </div>
    <div class="content pagewidth">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer" class="pagewidth">
        <hr />
        a Jared Pochtar production, in association with <a href="http://hchs01.welinknyc.com/">Devclub</a>
    </div>

</body>
</html>