{% comment %}
        {% regroup posts by section as homeworks_by_section %}
        {% for section in homeworks_by_section %}
        
        {% if not course_filter %}
        <div class="section">
            <h3 class="classname">
                <a href="{% url BBCore.views.assignment_book section.grouper.course.pk %}">
                    {{ section.grouper }}
                </a>
            </h3>
            <div class="homeworks_for_section">
        {% endif %}    
            
                {% for homework in section.list %}
                <li class="post">
                <!--
                <a href="{% url BBCore.views.post_detail homework.post.pk %}" class="postlink">
                -->
                    <div class="homework">
                        {{ homework.post.html|safe|truncatewords_html:50 }}
                    </div>
                    <div>
                        <a href="{% url BBCore.views.post_detail homework.post.pk %}" class="morestufflink">
                        more...
                        </a>
                    </div>
                <!--
                </a>
                
                {% include "BBCore/comments.html" with post=homework.post %}
                -->
                
                </li>
                {% endfor %}
                
        {% if not course_filter %}
            </div>
        </div>
        {% endif %}
        
        {% endfor %}
{% endcomment %}

        <table class="pagewidth">
        {% for hw in posts %}
        <tr>
            <td>
                <li class="post">
                    <div class="homework">
                        {{ hw.post.html|safe|truncatewords_html:50 }}
                    </div>
                    <div style="clear: both">
                        <a href="{% url BBCore.views.post_detail hw.post.pk %}" class="morestufflink">
                        more...
                        </a>
                    </div>
                
                </li>
            </td>
        {% if not course_filter %}
            <td class="classname">
            <h3>
                <a href="{% url BBCore.views.assignment_book hw.section.course.pk %}">
                    {{ hw.section }}
                </a>
            </h3>
            </td>
        {% endif %}
        </tr>

        {% endfor %}
        </table>
