body {
    margin: 0;
    font-family: lucida grande;
    font-size: 14px;
}

.pagewidth {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    text-align: center;
    clear: both;
    margin-bottom: 2em;
}

ol.homeworks_for_date {
    padding-left: 1.1em;
}

table {
    margin: 0;
    padding: 0;
}

td {
    vertical-align: text-top;
}

.classname {
    text-align: right;
    width: 180px;
}

p:first-child {
    margin-top: 0;
}

.date {
    text-align: center;
    border-bottom: solid 1px black;
    margin-top: 2em;
}

img, iframe {
    clear: both;
    width: 250px;
    float: left;
    margin-right: 1em;
}

.homeworks .comments {
    margin: 1em;
    margin-left: 20px;
}

.comments {
    margin-top: 1em;
    padding: 4px;
    background-color: #EDEFF4;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .pagewidth {
        width: 320px;
    }
    td {
        display: block;
        width: 320px;
    }
    
    #header {
        display: none;
    }
}

